{
  "presets": [
    "react",
    ["env", {
      "targets": {
        "browsers": ["last 2 versions"],
        "node": true,
        "debug": true
      },
      "modules": false
    }]
  ],
  "plugins": [
    "syntax-object-rest-spread",
    "transform-object-rest-spread"
  ]
}